<ion-card *ngFor="let post of entrants" >
  <ion-card-header>
    <ion-card-subtitle>{{post.id}}</ion-card-subtitle>
    <ion-card-title>{{post.title}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    {{post.body}}
  </ion-card-content>
</ion-card>
