<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
      <ion-button expand="full" (click)="logout()">Logout</ion-button>
    </ion-buttons>
    <ion-title>Post publicados con pipeline</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <app-lista-post></app-lista-post>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
