<ion-content>
  <ion-slides pager="true">

    <!-- Slide 1 -->
    <ion-slide>
      <ion-text color="light">
        <img src="../../../assets/Final Pagina.png" height="138" width="475"/>

        <h1>Hola!</h1>
        <p>Esta es una pantalla de inicio que veras solo una vez!</p>
        <ion-button (click)="next()" fill="outline" color="light">Next</ion-button>
      </ion-text>
    </ion-slide>

    <!-- Slide 2 -->
    <ion-slide>
      <ion-text color="light">
        <img src="../../../assets/Final Pagina.png" height="138" width="475"/>
        <h1>Que tal!</h1>
        <p>Permite mostrar informacion útil para el usuario en su primer acercamiento!</p>
        <ion-button (click)="start()" fill="outline" color="light">Start</ion-button>
      </ion-text>
    </ion-slide>

  </ion-slides>
</ion-content>
